.container {
  padding-top: 150px;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.csLink {
  text-align: center;
  font-size: xxx-large;
  text-decoration: none;
  color: white;
}

.csLink:hover {
  color: dodgerblue;
  text-decoration-line: underline;
}

.contactText {
  color: white;
  text-align: center;
  font-size: xx-large;
}

.contactName {
  text-align: center;
  color: white;
}

.contactLink {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.contactLink:hover {
  color: dodgerblue;
  text-decoration-line: underline;
}

